<form [formGroup]="addDialogForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Buchung hinzufügen</h2>
  <mat-dialog-content>
    <div class="form">
      <mat-form-field>
        <input matInput [matDatepicker]="addDialogDate" required formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="addDialogDate"></mat-datepicker-toggle>
        <mat-datepicker #addDialogDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Kategorie" formControlName="section" required>
          <mat-option value="">Bitte eine Kategorie auswählen.</mat-option>
          <mat-option [value]="section.name" *ngFor="let section of sections">{{section.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Unterkategorie" formControlName="category" [disabled]="addDialogForm.controls.section.value === ''"
          required>
          <mat-option value="">Bitte eine Unterkategorie auswählen.</mat-option>
          <mat-option [value]="subsection" *ngFor="let subsection of subsections">{{subsection}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Kommentar" formControlName="comment">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="cancel()">Abbrechen</button>
    <button mat-raised-button type="submit" [disabled]="addDialogForm.pristine" color="primary">Hinzufügen</button>
  </mat-dialog-actions>
</form>