.overview {
  display: flex;
  flex-flow: nowrap;
  align-content: space-between;
  justify-content: space-between;

  .overview-categories,
  .overview-year {
    display: flex;
  }

  .overview-categories td,
  .overview-categories th {
    white-space: nowrap;
  }
}

.section {
  background: rgb(244, 255, 195);
}
